@model IEnumerable<CF_HOATUOIBASANH.Models.CartModel>
@using CF_HOATUOIBASANH.FormatHelper
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="@item.Product.Image" alt="" style="width: 90px; height: 90px;">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>@item.Product.ProductName</h6>
                                                <h5>@FormatHelper.FormatPriceVND((double)@item.Product.Price) đ</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input class="quantity-input" type="number" value="@item.Quantity" data-product-id="@item.Product.ProductID">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">@FormatHelper.FormatPriceVND((double)@item.Total) đ</td>
                                        <td class="cart__close">
                                            <input type="hidden" value="@item.Product.ProductID" class="ProductID" />
                                            <a href="#" class="removecart" data-product-id="@item.Product.ProductID" data-quantity="@item.Quantity">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="6"><h4>Giỏ hàng của bạn đang trống.</h4></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/Shop">Tiếp tục mua sắm</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#" id="update-cart-btn"><i class="fa fa-spinner"></i>Cập nhật giỏ hàng </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    @if (ViewBag.TotalPrice != null)
                    {
                        <ul>
                            <li>Tạm tính: <span>@FormatHelper.FormatPriceVND((double)ViewBag.TotalPrice) đ</span></li>
                            <li>Tổng tiền: <span>@FormatHelper.FormatPriceVND((double)ViewBag.TotalPrice) đ</span></li>
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li>Tạm tính: <span>0 đ</span></li>
                            <li>Tổng tiền: <span>0 đ</span></li>
                        </ul>
                    }
                    <a href="/Checkout" class="primary-btn">Tiến hành thanh toán</a>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#update-cart-btn').click(function (e) {
            e.preventDefault();
            var cartUpdates = [];
            $('.quantity-input').each(function () {
                var ProductID = $(this).data('product-id');
                var quantity = $(this).val();
                cartUpdates.push({ ProductID: ProductID, Quantity: quantity });
            });

            $.ajax({
                url: '/Shop/UpdateCart',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(cartUpdates),
                success: function () {
                    toastr.success("Cập nhật giỏ hàng thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                    location.reload();

                },
                error: function () {
                    toastr.error("Lỗi... Thêm sản phẩm vào giỏ hàng không thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                }
            });
        });
    });


    $(document).ready(function () {
        $('.removecart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');

            $.ajax({
                url: '/Shop/DeleteCartItem',
                type: 'POST',
                data: { productId: productId },
                success: function () {
                    // Xóa sản phẩm khỏi bảng
                    toastr.success("Sản phẩm đã được xóa khỏi giỏ hàng thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                    location.reload();

                },
                error: function () {
                    toastr.error("Lỗi... Xóa sản phẩm khỏi giỏ hàng không thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                }
            });
        });
    });
</script>

