@using PagedList.Mvc
@using PagedList
@model IPagedList<CF_HOATUOIBASANH.Models.Product>
@using CF_HOATUOIBASANH.FormatHelper
@using Microsoft.AspNetCore.Http

<!-- Shop Section Begin -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/ajax.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-controller="Shop" asp-action="Index" method="get">
                            <input type="text" name="searchString" placeholder="Nhập từ khóa..." value="@ViewBag.CurrentFilter" />
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Danh mục</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a asp-controller="Shop" asp-action="Index">Tất cả sản phẩm</a></li>
                                                @foreach (var category in ViewBag.CategoryList)
                                                {
                                                    <li><a asp-controller="Shop" asp-action="Index" asp-route-categoryFilter="@category.MaLoai">@category.TenLoai</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Lọc theo giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="0-50">0 - 50.000đ</a></li>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="50-100">50.0000đ - 100.000đ</a></li>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="100-150">100.000đ - 150.000đ</a></li>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="150-200">150.000đ - 200.000đ</a></li>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="200-250">200.000đ - 250.000đ</a></li>
                                                <li><a asp-controller="Shop" asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-currentFilter="@ViewBag.CurrentFilter" asp-route-priceFilter="250">> 250.0000d</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Hiển thị @Model.Count tên @Model.TotalItemCount kết quả</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sắp xếp theo :</p>
                                <select onchange="location = this.value;">
                                    <option value="@(Url.Action("Index", new { Loai = ViewData["Loai"], sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }))">Tên</option>
                                    <option value="@(Url.Action("Index", new { Loai = ViewData["Loai"], sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter }))">Giá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.Image">
                                    <ul class="product__hover">
                                        <li>
                                            <a href="#">
                                                <img src="/img/icon/heart.png" alt="">
                                                <span>Yêu thích</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="add-to-cart" data-product-id="@item.ProductID">
                                                <img src="/img/icon/cart.png">
                                                <span>Thêm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Shop/Detail/@item.ProductID">
                                                <img src="/img/icon/detail.png" alt="">
                                                <span>Chi tiết</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <a href="/Shop/Detail/@item.ProductID">
                                        <h5 style="text-align: center;">@item.ProductName</h5>
                                        <p style="font-size: 16px; margin-bottom: 0; text-align: center;">Giá: <span style="color: red;">@FormatHelper.FormatPriceVND((double)@item.Price) đ</span></p>
                                    </a>
                                </div>
                                <div class="button-center">
                                    <button class="button-cart" data-product-id="@item.ProductID">Thêm vào giỏ</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-12">
                    <div class="product__pagination">
                        @if (Model.PageCount > 1)
                        {
                            @if (Model.PageNumber > 1)
                            {
                                <a class="@(Model.PageNumber == 1 ? "disabled" : "")" href="@(Url.Action("Index", new { Loai = ViewData["Loai"], page = Model.PageNumber - 1, sortOrder = ViewData["sortOrder"], currentFilter = ViewData["currentFilter"], priceFilter = ViewData["priceFilter"] }))">&lt;</a>
                            }

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                if (i == 1 || i == Model.PageCount || (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1))
                                {
                                    <a class="@(Model.PageNumber == i ? "active" : "")" href="@(Url.Action("Index", new { Loai = ViewData["Loai"], page = i, sortOrder = ViewData["sortOrder"], currentFilter = ViewData["currentFilter"], priceFilter = ViewData["priceFilter"] }))">@i</a>
                                }
                                else if (i == 2 || i == Model.PageCount - 1)
                                {
                                    <span>..</span>
                                }
                            }

                            @if (Model.PageNumber < Model.PageCount)
                            {
                                <a class="@(Model.PageNumber == Model.PageCount ? "disabled" : "")" href="@(Url.Action("Index", new { Loai = ViewData["Loai"], page = Model.PageNumber + 1, sortOrder = ViewData["sortOrder"], currentFilter = ViewData["currentFilter"], priceFilter = ViewData["priceFilter"] }))">&gt;</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
