﻿
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<HoaTuoiBaSanh_Core6.Models.Product>
@using HoaTuoiBaSanh.FormatHelper
@using Microsoft.AspNetCore.Http


<!-- Shop Section Begin -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/ajax.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Hiển thị @Model.Count tên @Model.TotalItemCount kết quả</p>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sắp xếp theo :</p>
                                <select onchange="location = this.value;">
                                    <option value="@Url.Action("Index", new { Loai = ViewData["Loai"], sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })">Tên</option>
                                    <option value="@Url.Action("Index", new { Loai = ViewData["Loai"],sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })">Giá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@item.Image">

                                    <ul class="product__hover">
                                        <li>
                                            <a href="#">
                                                <img src="/img/icon/heart.png" alt="">
                                                <span>Yêu thích</span>

                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="add-to-cart" data-product-id="@item.ProductId">
                                                <img src="/img/icon/cart.png">
                                                <span>Thêm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Shop/Detail/@item.ProductId">
                                                <img src="/img/icon/detail.png" alt="">
                                                <span>Chi tiết</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <a href="/Shop/Detail/@item.ProductId">
                                        <h5 style="text-align: center;">@item.ProductName</h5>
                                        <p style="font-size: 16px; margin-bottom: 0; text-align: center;">Giá: <span style="color: red;">@FormatHelper.FormatPriceVND((double)@item.Price) đ<span></p>
                                    </a>
                                </div>
                                <div class="button-center">
                                    <button class="button-cart" data-product-id="@item.ProductId">Thêm vào giỏ</button>
                                </div>

                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <a class="@(Model.PageNumber == i ? "active" : "")" href="@Url.Action("Index", new { Loai = ViewData["Loai"], page = i, sortOrder = ViewData["sortOrder"], currentFilter = ViewData["currentFilter"],priceFilter = ViewData["priceFilter"] })">@i</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" id="successModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thành công</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Sản phẩm đã được thêm vào giỏ hàng thành công.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>












        <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                <!--Content-->
                <!--Body-->
                <div class="modal-body">

                    <div class="row">
                        <div class="col-3">
                            <p></p>
                            <p class="text-center"><i class="fas fa-shopping-cart fa-4x"></i></p>
                        </div>

                        <div class="col-9">
                            <p>Do you need more time to make a purchase decision?</p>
                            <p>No pressure, your product will be waiting for you in the cart.</p>
                        </div>
                    </div>
                </div>

                <!--Footer-->

            </div>
            <!--/.Content-->
        </div>
    </div>

</section>